@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');

.photo {
    gap: 1rem;
    font-size: 4rem;
    letter-spacing: .09rem;
    line-height: 2rem;
    font-family: 'Cairo', sans-serif;
}

.photo-item {
    padding-top: 20px;
}